{% extends "customer/base.html" %}
{%load static%}
{%block content%}
    <!--  account section starts -->
    <br>
    <br>
    <br>
    <section class="account-section section-b-space pt-0">
        <div class="container">
            <div class="layout-sec">
                <div class="row g-lg-4 g-4">
                    <div class="col-lg-8">
                        <div class="process-section">
                            <ul class="process-list">
                                <li class="done">
                                    <a href="checkout.html">
                                        <div class="process-icon">
                                            <img class="img-fluid icon" src="{% static 'customer/assets/images/svg/user.svg' %}" alt="user">
                                        </div>
                                        <h6>Account</h6>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="address.html">
                                        <div class="process-icon">
                                            <img class="img-fluid icon" src="{% static 'customer/assets/images/svg/location-active.svg' %}" alt="location">
                                        </div>
                                        <h6>Address</h6>
                                    </a>
                                </li>
                                <li>
                                    <a href="payment.html">
                                        <div class="process-icon">
                                            <img class="img-fluid icon" src="{% static 'customer/assets/images/svg/wallet-add.svg' %}" alt="wallet-add">
                                        </div>
                                        <h6>Payment</h6>
                                    </a>
                                </li>
                                <li>
                                    <a href="confirm-order.html">
                                        <div class="process-icon">
                                            <img class="img-fluid icon" src="{% static 'customer/assets/images/svg/verify.svg' %}" alt="verify">
                                        </div>
                                        <h6>Confirm</h6>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="address-section">
                            <div class="title">
                                <div class="loader-line"></div>
                                <h3>Select Saved Address</h3>
                                <h6>
                                    You’ve added some address before, You can select one of below.
                                </h6>
                            </div>
                            <div class="row g-3">
                                {%for address in addresses%}
                                    <div class="col-md-6">
                                        <div class="address-box">
                                            <div class="address-title">
                                                <div class="d-flex align-items-center gap-2">
                                                    <i class="ri-home-4-fill icon"></i>
                                                    <h6>{{address.type}}</h6>
                                                </div>
                                                <a href="#edit-address" class="edit-btn" data-bs-toggle="modal">Edit</a>
                                            </div>
                                            <div class="address-details">
                                                <h6>
                                                    {{address.street}}, {{address.city}}, {{address.state}}-{{address.zip_code}},
                                                </h6>
                                                <h6 class="phone-number">{{address.phone_number}}</h6>
                                                <div class="option-section">
                                                    <a href="{%url 'use_address' address.id%}" class="btn gray-btn rounded-2 mt-0">Deliver
                                                        Here</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {%endfor%}

                                    <div class="col-md-6">
                                        <div class="address-box new-address-box">
                                            <a href="#address-details" class="btn theme-outline rounded-2"
                                                data-bs-toggle="modal">Add New Address</a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="order-summery-section sticky-top">
                            <div class="checkout-detail">
                                <ul>
                                                    {%for item in cart_items%}
                                                        <div class="horizontal-product-box">
                                                            <div class="product-content">
                                                                <div
                                                                    class="d-flex align-items-center justify-content-between">
                                                                    <h5>{{item.menu_item.name}}</h5>
                                                                    <h6 class="product-price">{{item.price}} * {{item.quantity}}</h6>
                                                                </div>
                                                                {%if item.extra%}
                                                                <h6 class="ingredients-text">
                                                                    Hot Nacho Chips
                                                                </h6>
                                                                {%endif%}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    {%endfor%}
                                                    </ul>
                                                <h5 class="bill-details-title fw-semibold dark-text">
                                                    Bill Details
                                                </h5>
                                                <div class="sub-total">
                                                    <h6 class="content-color fw-normal">Sub Total</h6>
                                                    <h6 class="fw-semibold">{{total_price}}</h6>
                                                </div>
                                                <div class="sub-total">
                                                    <h6 class="content-color fw-normal">
                                                        Delivery Charge
                                                    </h6>
                                                    <h6 class="fw-semibold success-color">Free</h6>
                                                </div>
                                                {%if item.discount%}
                                                <div class="sub-total">
                                                    <h6 class="content-color fw-normal">
                                                        Discount ({{item.discount.percentage}})
                                                    </h6>
                                                    <h6 class="fw-semibold">{{total_price}}</h6>
                                                </div>
                                                {%endif%}   
                                                <div class="grand-total">
                                                    <h6 class="fw-semibold dark-text">Total</h6>
                                                    <h6 class="fw-semibold amount">{{total_price}}</h6>
                                                </div>
                                <a href="{%url 'payment'%}" class="btn theme-btn restaurant-btn w-100 rounded-2">CHECKOUT</a>
                                <img class="dots-design" src="{% static 'customer/assets/images/svg/dots-design.svg' %}" alt="dots">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- account section end -->

      <!-- address details modal starts -->
      <div class="modal address-details-modal fade" id="address-details" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Address Details
                  </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form class="row g-3" id='addressForm' method='post'>
                    {% csrf_token %}

                    <div class="col-8">
                        <label for="street" class="form-label">Street Name</label>
                        <input type="text" class="form-control" id="street" name="street" placeholder="Enter your street">
                    </div>
                    <div class="col-md-8">
                        <label for="zip_code" class="form-label">Zip</label>
                        <input type="text" class="form-control" id="zip_code" name="zip_code" placeholder="Enter your zip code">
                    </div>
                    <div class="col-8">
                        <label for="state" class="form-label">State</label>
                        <input type="text" class="form-control" id="state" name="state" placeholder="Enter your state">
                    </div>
                    <div class="col-md-6">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" id="city" name="city" placeholder="Enter your city">
                    </div>
                    <div class="col-md-6">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" class="form-control" id="country" name="country" placeholder="Enter your country">
                    </div>
                    <div class="col-md-8">
                        <label for="phone_number" class="form-label">Phone Number</label>
                        <input type="tel" class="form-control" id="phone_number" name="phone_number" placeholder="Enter your phone number">
                    </div>
                    <div class="col-md-4">
                        <label for="type" class="form-label">Address Type</label>
                        <select class="form-control" id="type" name="type">
                            <option value="Home">Home</option>
                            <option value="Work">Work</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </form>
              </div>
              <div class="modal-footer">
                <a href="address.html" class="btn gray-btn mt-0" data-bs-dismiss="modal">CANCEL</a>
                <button type="submit" form="addressForm" class="btn theme-btn mt-0">SUBMIT</button>
            </div>
          </div>
      </div>
  </div>
  <!-- address details modal end -->

    {% endblock content %}




    