{%extends "customer/base.html"%}
{%load static%}
{% block content %}
    <!-- signup page start -->
    <section class="login-hero-section section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-10 m-auto">
                    <div class="login-data">
                        <form class="otp-form">
                            <h2 class="mb-0 dark-text">OTP</h2>
                            <h6>We have sent a verification code to</h6>
                            <h5 class="otp-number dark-text">+1 (692)52 - 95555</h5>
                            <div class="otp-box d-flex gap-sm-3 gap-2">
                                <div class="form-input mb-0">
                                    <input type="number" class="form-control active" placeholder="0" id="five1"
                                        onkeyup="onKeyUpEvent(1, event)" onfocus="onFocusEvent(1)">
                                </div>
                                <div class="form-input mb-0">
                                    <input type="number" class="form-control" placeholder="0" id="five2"
                                        onkeyup="onKeyUpEvent(2, event)" onfocus="onFocusEvent(2)">
                                </div>
                                <div class="form-input mb-0">
                                    <input type="number" class="form-control" placeholder="0" id="five3"
                                        onkeyup="onKeyUpEvent(3, event)" onfocus="onFocusEvent(3)">
                                </div>
                                <div class="form-input mb-0">
                                    <input type="number" class="form-control" placeholder="0" id="five4"
                                        onkeyup="onKeyUpEvent(4, event)" onfocus="onFocusEvent(4)">
                                </div>
                                <div class="form-input mb-0">
                                    <input type="number" class="form-control" placeholder="0" id="five5"
                                        onkeyup="onKeyUpEvent(5, event)" onfocus="onFocusEvent(5)">
                                </div>
                            </div>
                            <a href="otp.html" class="btn theme-btn submit-btn w-100 rounded-2">CONTINUE</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- signup page end -->
{% endblock content %} 