{%extends "customer/base.html"%}
{%load static%}
{% block content %}
    <!-- popular restaurant section starts -->
    <section class="restaurant-list section-b-space ratio3_2">
        <div class="container">
            <div class="title restaurant-title pb-0 w-border">
                <h2>Pizza</h2>
                <ul class="nav nav-pills restaurant-tab tab-style2 border-0 w-100 m-0" id="Tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pill-delivery-tab" data-bs-toggle="pill"
                            data-bs-target="#delivery-tab">
                            Fast Delivery
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pill-rating-tab" data-bs-toggle="pill"
                            data-bs-target="#rating-tab">
                            Rating
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pill-veg-tab" data-bs-toggle="pill" data-bs-target="#veg-tab">
                            Pure Veg
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pill-cost-tab" data-bs-toggle="pill" data-bs-target="#cost-tab">
                            Cost
                        </button>
                    </li>
                </ul>
            </div>
            <div class="tab-content restaurant-content" id="TabContent">
                <div class="tab-pane fade show active" id="delivery-tab">
                    <div class="row g-lg-4 g-3">
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="vertical-product-box">
                                <div class="vertical-product-box-img">
                                    <a href="menu-listing.html">
                                        <img class="product-img-top w-100 bg-img" src="{% static 'customer/assets/images/product/vp-1.png' %}" alt="vp1">
                                    </a>
                                    <div class="offers">
                                        <h6>upto $2</h6>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h4>50% OFF</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="vertical-product-body">
                                    <div class="d-flex align-items-center justify-content-between mt-sm-3 mt-2">
                                        <a href="menu-listing.html">
                                            <h4 class="vertical-product-title">Poultry Palace</h4>
                                        </a>
                                        <h6 class="rating-star">
                                            <span class="star"><i class="ri-star-s-fill"></i></span>3.9
                                        </h6>
                                    </div>
                                    <h5 class="product-items">
                                        Chicken quesadilla, avocado....
                                    </h5>
                                    <div class="location-distance d-flex align-items-center justify-content-between pt-sm-3 pt-2">
                                        <h5 class="place">New Jsercy</h5>
                                        <ul class="distance">
                                            <li><i class="ri-map-pin-fill icon"></i> 3.2 km</li>
                                            <li><i class="ri-time-fill icon"></i> 25 min</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="vertical-product-box">
                                <div class="vertical-product-box-img">
                                    <a href="menu-listing.html">
                                        <img class="vertical-product-img-top w-100 bg-img" src="{% static 'customer/assets/images/product/vp-2.png' %}" alt="vp-2">
                                    </a>
                                    <div class="offers">
                                        <h6>upto $2</h6>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h4>50% OFF</h4>
                                            <div class="seller-badge">
                                                <img class="img-fluid badge" src="{% static 'customer/assets/images/svg/medal-fill.svg' %}" alt="medal">
                                                <h6>Best Seller</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vertical-product-body">
                                    <div class="d-flex align-items-center justify-content-between mt-sm-3 mt-2">
                                        <a href="menu-listing.html">
                                            <h4 class="vertical-product-title">Ribeye Junction</h4>
                                        </a>
                                        <h6 class="rating-star">
                                            <span class="star"><i class="ri-star-s-fill"></i></span>3.2
                                        </h6>
                                    </div>
                                    <h5 class="product-items">
                                        Chicken quesadilla, avocado....
                                    </h5>
                                    <div class="location-distance d-flex align-items-center justify-content-between pt-sm-3 pt-2">
                                        <h5 class="place">California</h5>
                                        <ul class="distance">
                                            <li><i class="ri-map-pin-fill icon"></i> 1 km</li>
                                            <li><i class="ri-time-fill icon"></i> 10 min</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="vertical-product-box">
                                <div class="vertical-product-box-img">
                                    <a href="menu-listing.html">
                                        <img class="product-img-top w-100 bg-img" src="{% static 'customer/assets/images/product/vp-3.png' %}" alt="vp3">
                                    </a>
                                </div>
                                <div class="vertical-product-body">
                                    <div class="d-flex align-items-center justify-content-between mt-sm-3 mt-2">
                                        <a href="menu-listing.html">
                                            <h4 class="vertical-product-title">
                                                The Grill Master's Cafe
                                            </h4>
                                        </a>
                                        <h6 class="rating-star">
                                            <span class="star"><i class="ri-star-s-fill"></i></span>4.3
                                        </h6>
                                    </div>
                                    <h5 class="product-items">Bread, Eggs, Butter, Fries...</h5>
                                    <div class="location-distance d-flex align-items-center justify-content-between pt-sm-3 pt-2">
                                        <h5 class="place">New York</h5>
                                        <ul class="distance">
                                            <li><i class="ri-map-pin-fill icon"></i> 5 km</li>
                                            <li><i class="ri-time-fill icon"></i> 40 min</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="vertical-product-box">
                                <div class="vertical-product-box-img">
                                    <a href="menu-listing.html">
                                        <img class="product-img-top w-100 bg-img" src="{% static 'customer/assets/images/product/vp-4.png' %}" alt="vp-4">
                                    </a>
                                </div>
                                <div class="vertical-product-body">
                                    <div class="d-flex align-items-center justify-content-between mt-sm-3 mt-2">
                                        <a href="menu-listing.html">
                                            <h4 class="vertical-product-title">Cozy Cuppa Cafe</h4>
                                        </a>
                                        <h6 class="rating-star">
                                            <span class="star"><i class="ri-star-s-fill"></i></span>3.6
                                        </h6>
                                    </div>
                                    <h5 class="product-items">
                                        cheesecake, waffles, Cakes,...
                                    </h5>
                                    <div class="location-distance d-flex align-items-center justify-content-between pt-sm-3 pt-2">
                                        <h5 class="place">Dallas</h5>
                                        <ul class="distance">
                                            <li><i class="ri-map-pin-fill icon"></i> 4 km</li>
                                            <li><i class="ri-time-fill icon"></i> 30 min</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="vertical-product-box">
                                <div class="vertical-product-box-img">
                                    <a href="menu-listing.html">
                                        <img class="product-img-top w-100 bg-img" src="{% static 'customer/assets/images/product/vp-5.png' %}" alt="vp-5">
                                    </a>
                                </div>
                                <div class="vertical-product-body">
                                    <div class="d-flex align-items-center justify-content-between mt-sm-3 mt-2">
                                        <a href="menu-listing.html">
                                            <h4 class="vertical-product-title">Mocha Magic Cafe</h4>
                                        </a>
                                        <h6 class="rating-star">
                                            <span class="star"><i class="ri-star-s-fill"></i></span>3.2
                                        </h6>
                                    </div>
                                    <h5 class="product-items">Chinese, Momos, Dumplings,...</h5>
                                    <div class="location-distance d-flex align-items-center justify-content-between pt-sm-3 pt-2">
                                        <h5 class="place">Seattle</h5>
                                        <ul class="distance">
                                            <li><i class="ri-map-pin-fill icon"></i> 1 km</li>
                                            <li><i class="ri-time-fill icon"></i> 8 min</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="vertical-product-box">
                                <div class="vertical-product-box-img">
                                    <a href="menu-listing.html">
                                        <img class="product-img-top w-100 bg-img" src="{% static 'customer/assets/images/product/vp-6.png' %}" alt="vp16">
                                    </a>
                                    <div class="offers">
                                        <h6>upto $2</h6>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h4>50% OFF</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="vertical-product-body">
                                    <div class="d-flex align-items-center justify-content-between mt-sm-3 mt-2">
                                        <a href="menu-listing.html">
                                            <h4 class="vertical-product-title">Latte Lounge</h4>
                                        </a>
                                        <h6 class="rating-star">
                                            <span class="star"><i class="ri-star-s-fill"></i></span>3.6
                                        </h6>
                                    </div>
                                    <h5 class="product-items">
                                        Chicken fingers, Chicken goujons,....
                                    </h5>
                                    <div class="location-distance d-flex align-items-center justify-content-between pt-sm-3 pt-2">
                                        <h5 class="place">Atlanta</h5>
                                        <ul class="distance">
                                            <li><i class="ri-map-pin-fill icon"></i> 3 km</li>
                                            <li><i class="ri-time-fill icon"></i> 25 min</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="vertical-product-box">
                                <div class="vertical-product-box-img">
                                    <a href="menu-listing.html">
                                        <img class="vertical-product-img-top w-100 bg-img" src="{% static 'customer/assets/images/product/vp-8.png' %}" alt="vp-8">
                                    </a>
                                    <div class="offers">
                                        <h6>upto $2</h6>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h4>50% OFF</h4>
                                            <div class="seller-badge">
                                                <img class="img-fluid badge" src="{% static 'customer/assets/images/svg/medal-fill.svg' %}" alt="medal">
                                                <h6>Best Seller</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vertical-product-body">
                                    <div class="d-flex align-items-center justify-content-between mt-sm-3 mt-2">
                                        <a href="menu-listing.html">
                                            <h4 class="vertical-product-title">Wing Master</h4>
                                        </a>
                                        <h6 class="rating-star">
                                            <span class="star"><i class="ri-star-s-fill"></i></span>3.2
                                        </h6>
                                    </div>
                                    <h5 class="product-items">
                                        Chicken quesadilla, avocado....
                                    </h5>
                                    <div class="location-distance d-flex align-items-center justify-content-between pt-sm-3 pt-2">
                                        <h5 class="place">New York</h5>
                                        <ul class="distance">
                                            <li><i class="ri-map-pin-fill icon"></i> 1.8 km</li>
                                            <li><i class="ri-time-fill icon"></i> 12 min</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- popular restaurant section end -->

 {%endblock content%}