{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="zomo" />
  <meta name="keywords" content="zomo" />
  <meta name="author" content="zomo" />
  <link rel="manifest" href="https://themes.pixelstrap.com/zomo-app/manifest.json" />

  <link rel="icon" href="{% static 'pages/assets/images/logo/favicon.png' %}" type="image/x-icon" />
  <title>zomo App</title>
  <link rel="apple-touch-icon" href="{% static 'pages/assets/images/logo/favicon.png' %}" />
  <meta name="theme-color" content="#ff8d2f" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-title" content="zomo" />
  <meta name="msapplication-TileImage" content="{% static 'pages/assets/images/logo/favicon.png' %}" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- font link -->
  <link rel="stylesheet" href="{% static 'pages/assets/css/vendors/metropolis.min.css' %}" />

  <!-- remixicon css -->
  <link rel="stylesheet" type="text/css" href="{% static 'pages/assets/css/vendors/remixicon.css' %}" />

  <!-- swiper css -->
  <link rel="stylesheet" type="text/css" href="{% static 'pages/assets/css/vendors/swiper-bundle.min.js.css' %}" />

  <!-- bootstrap css -->
  <link rel="stylesheet" id="rtl-link" type="text/css" href="{% static 'pages/assets/css/vendors/bootstrap.min.css' %}" />

  <!-- Theme css -->
  <link rel="stylesheet" id="change-link" type="text/css" href="{% static 'pages/assets/css/style.css' %}" />
</head>

<body>
  <!-- header start -->
  <header class="section-t-space">
    <div class="custom-container">
      <div class="header-panel">
        <a href="{% url 'address' %}">
          <i class="ri-arrow-left-s-line"></i>
        </a>
        <h2>Complete Address</h2>
      </div>
    </div>
  </header>
  <!-- header end -->

  <!-- filter section start -->
  <section class="food-filter address-filter">
    <div class="custom-container">
      <ul class="nav nav-pills restaurant-order-tab tab-style2 w-100 border-0 mt-0 mb-4" id="Tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pill-home-tab" data-bs-toggle="pill" data-bs-target="#home-tab">Home</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pill-work-tab" data-bs-toggle="pill" data-bs-target="#work-tab">Work</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pill-hotel-tab" data-bs-toggle="pill" data-bs-target="#hotel-tab">Hotel</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pill-others-tab" data-bs-toggle="pill" data-bs-target="#others-tab">Others</button>
        </li>
      </ul>

      <div class="tab-content restaurant-content" id="TabContent">
        <div class="tab-pane fade show active" id="home-tab">
          <form class="auth-form" target="_blank">
            <div class="form-group">
              <label class="form-label fw-semibold">Company / Building</label>
              <div class="form-input mb-3">
                <input type="text" class="form-control" placeholder="Enter your company name" />
              </div>
            </div>
            <div class="form-group">
              <label class="form-label fw-semibold">Floor</label>
              <div class="form-input mb-3">
                <input type="text" class="form-control" placeholder="Enter floor" />
              </div>
            </div>
            <div class="form-group">
              <label class="form-label fw-semibold">Tower (optional)</label>
              <div class="form-input mb-3">
                <input type="text" class="form-control" placeholder="Enter tower" />
              </div>
            </div>
            <div class="form-group">
              <label class="form-label fw-semibold">Nearby Landmark (optional)</label>
              <div class="form-input mb-3">
                <input type="text" class="form-control" placeholder="Enter landmark" />
              </div>
            </div>
            <a href="{% url 'address' %}" class="btn theme-btn save-address w-100">Save Address</a>
          </form>
        </div>
        <div class="tab-pane fade" id="work-tab">
          <form class="auth-form" target="_blank">
            <div class="form-group">
              <label class="form-label fw-semibold">Company / Building</label>
              <div class="form-input mb-3">
                <input type="text" class="form-control" placeholder="Enter your company name" />
              </div>
            </div>
            <div class="form-group">
              <label class="form-label fw-semibold">Floor</label>
              <div class="form-input mb-3">
                <input type="text" class="form-control" placeholder="Enter floor" />
              </div>
            </div>
            <div class="form-group">
              <label class="form-label fw-semibold">Tower (optional)</label>
              <div class="form-input mb-3">
                <input type="text" class="form-control" placeholder="Enter tower" />
              </div>
            </div>
            <div class="form-group">
              <label class="form-label fw-semibold">Nearby Landmark (optional)</label>
              <div class="form-input mb-3">
                <input type="text" class="form-control" placeholder="Enter landmark" />
              </div>
            </div>
            <a href="{% url 'address' %}" class="btn theme-btn save-address w-100">Save Address</a>
          </form>
        </div>
        <div class="tab-pane fade" id="hotel-tab">
          <form class="auth-form" target="_blank">
            <div class="form-group">
              <label class="form-label fw-semibold">Company / Building</label>
              <div class="form-input mb-3">
                <input type="text" class="form-control" placeholder="Enter your company name" />
              </div>
            </div>
            <div class="form-group">
              <label class="form-label fw-semibold">Floor</label>
              <div class="form-input mb-3">
                <input type="text" class="form-control" placeholder="Enter floor" />
              </div>
            </div>
            <div class="form-group">
              <label class="form-label fw-semibold">Tower (optional)</label>
              <div class="form-input mb-3">
                <input type="text" class="form-control" placeholder="Enter tower" />
              </div>
            </div>
            <div class="form-group">
              <label class="form-label fw-semibold">Nearby Landmark (optional)</label>
              <div class="form-input mb-3">
                <input type="text" class="form-control" placeholder="Enter landmark" />
              </div>
            </div>
            <a href="{% url 'address' %}" class="btn theme-btn save-address w-100">Save Address</a>
          </form>
        </div>
        <div class="tab-pane fade" id="others-tab">
          <form class="auth-form" target="_blank">
            <div class="form-group">
              <label class="form-label fw-semibold">Company / Building</label>
              <div class="form-input mb-3">
                <input type="text" class="form-control" placeholder="Enter your company name" />
              </div>
            </div>
            <div class="form-group">
              <label class="form-label fw-semibold">Floor</label>
              <div class="form-input mb-3">
                <input type="text" class="form-control" placeholder="Enter floor" />
              </div>
            </div>
            <div class="form-group">
              <label class="form-label fw-semibold">Tower (optional)</label>
              <div class="form-input mb-3">
                <input type="text" class="form-control" placeholder="Enter tower" />
              </div>
            </div>
            <div class="form-group">
              <label class="form-label fw-semibold">Nearby Landmark (optional)</label>
              <div class="form-input mb-3">
                <input type="text" class="form-control" placeholder="Enter landmark" />
              </div>
            </div>
            <a href="{% url 'address' %}" class="btn theme-btn save-address w-100">Save Address</a>
          </form>
        </div>
      </div>
  </section>
  <!-- filter section start -->

  <!-- address form section start -->
  <section class="section-b-space">

  </section>
  <!-- address form section start -->

  <!-- bootstrap js -->

  <script src="{% static 'pages/assets/js/bootstrap.bundle.min.js' %}"></script>

  <!-- script js -->
  <script src="{% static 'pages/assets/js/script.js' %}"></script>
</body>

</html>
