{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="zomo" />
  <meta name="keywords" content="zomo" />
  <meta name="author" content="zomo" />
  <link rel="manifest" href="https://themes.pixelstrap.com/zomo-app/manifest.json" />

  <link rel="icon" href="{% static 'pages/assets/images/logo/favicon.png' %}" type="image/x-icon" />
  <title>zomo App</title>
  <link rel="apple-touch-icon" href="{% static 'pages/assets/images/logo/favicon.png' %}" />
  <meta name="theme-color" content="#ff8d2f" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-title" content="zomo" />
  <meta name="msapplication-TileImage" content="{% static 'pages/assets/images/logo/favicon.png' %}" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- font link -->
    <link rel="stylesheet" href="{% static 'pages/assets/css/vendors/metropolis.min.css' %}" />

    <!-- remixicon css -->
    <link rel="stylesheet" type="text/css" href="{% static 'pages/assets/css/vendors/remixicon.css' %}" />

    <!-- swiper css -->
    <link rel="stylesheet" type="text/css" href="{% static 'pages/assets/css/vendors/swiper-bundle.min.js.css' %}" />

    <!-- bootstrap css -->
    <link rel="stylesheet" id="rtl-link" type="text/css" href="{% static 'pages/assets/css/vendors/bootstrap.min.css' %}" />

    <!-- Theme css -->
    <link rel="stylesheet" id="change-link" type="text/css" href="{% static 'pages/assets/css/style.css' %}" />
</head>

<body>
  <!-- header start -->
  <header class="section-t-space">
    <div class="custom-container">
      <div class="header-panel">
        <h2>Profile</h2>
      </div>
    </div>
  </header>
  <!-- header end -->

  <!-- profile info start -->
  <section>
    <div class="custom-container">
      <div class="profile-cover">
        <img class="img-fluid profile-pic" src="../assets/images/icons/profile.png" alt="profile" />
      </div>
      <div class="profile-name">
        <h5>{{user.username}}</h5>
        <h6>{{user.email}}</h6>
      </div>
    </div>
  </section>
  <!-- profile info end -->

  <!-- profile listing start -->
  <section>
    <div class="custom-container">
      <ul class="profile-list">
        <li>
          <div class="profile-box">
            <div class="profile-icon">
              <img class="img-fluid icon" src="{% static 'pages/assets/images/svg/profile.svg' %}" alt="profile" />
            </div>
            <a href="{% url 'profile-settings' %}" class="profile-box-name">
              <h5>Profile Setting</h5>
              <i class="ri-arrow-right-s-line arrow"></i>
            </a>
          </div>
        </li>
        <li>
          <div class="profile-box">
            <div class="profile-icon">
              <img class="img-fluid icon" src="{% static 'pages/assets/images/svg/profile-location.svg' %}" alt="location" />
            </div>
            <a href="{% url 'manage-delivery-address' %}" class="profile-box-name">
              <h5>Manage Delivery Address</h5>
              <i class="ri-arrow-right-s-line arrow"></i>
            </a>
          </div>
        </li>
        <li>
          <div class="profile-box">
            <div class="profile-icon">
              <img class="img-fluid icon" src="{% static 'pages/assets/images/svg/whishlist.svg' %}" alt="wishlist" />
            </div>
            <a href="{% url 'wishlist' %}" class="profile-box-name">
              <h5>My Wishlist</h5>
              <i class="ri-arrow-right-s-line arrow"></i>
            </a>
          </div>
        </li>
        <li>
          <div class="profile-box">
            <div class="profile-icon">
              <img class="img-fluid icon" src="{% static 'pages/assets/images/svg/manage-payment.svg' %}" alt="Payment" />
            </div>
            <a href="{% url 'manage-payment' %}" class="profile-box-name">
              <h5>Manage Payment</h5>
              <i class="ri-arrow-right-s-line arrow"></i>
            </a>
          </div>
        </li>
        <li>
          <div class="profile-box">
            <div class="profile-icon">
              <img class="img-fluid icon" src="{% static 'pages/assets/images/svg/my-order.svg' %}" alt="order" />
            </div>
            <a href="{% url 'order-history' %}" class="profile-box-name">
              <h5>My Orders History</h5>
              <i class="ri-arrow-right-s-line arrow"></i>
            </a>
          </div>
        </li>
        <li>
          <div class="profile-box">
            <div class="profile-icon">
              <img class="img-fluid icon" src="{% static 'pages/assets/images/svg/ticket.svg' %}" alt="ticket" />
            </div>
            <a href="{% url 'voucher' %}" class="profile-box-name">
              <h5>My Voucher</h5>
              <i class="ri-arrow-right-s-line arrow"></i>
            </a>
          </div>
        </li>
        <li>
          <div class="profile-box">
            <div class="profile-icon">
              <img class="img-fluid icon" src="{% static 'pages/assets/images/svg/setting.svg' %}" alt="setting" />
            </div>
            <a href="{% url 'app-setting' %}" class="profile-box-name">
              <h5>Other Settings</h5>
              <i class="ri-arrow-right-s-line arrow"></i>
            </a>
          </div>
        </li>
        <li>
          <div class="profile-box">
            <div class="profile-icon">
              <img class="img-fluid icon" src="{% static 'pages/assets/images/svg/notification-bing.svg' %}" alt="bell" />
            </div>
            <a href="{% url 'notification-setting' %}" class="profile-box-name">
              <h5>Notification Setting</h5>
              <i class="ri-arrow-right-s-line arrow"></i>
            </a>
          </div>
        </li>
        <li>
          <div class="profile-box">
            <div class="profile-icon">
              <img class="img-fluid icon" src="{% static 'pages/assets/images/svg/logout.svg' %}" alt="logout" />
            </div>
            <a href="{% url 'logout' %}" class="profile-box-name">
              <h5>Log Out</h5>
              <i class="ri-arrow-right-s-line arrow"></i>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <!-- profile listing end -->

  <!-- panel-space start -->
  <section class="panel-space"></section>
  <!-- panel-space end -->

  <!-- bottom navbar start -->
  <div class="navbar-menu">
    <ul>
        <li class="active">
            <a href="{% url 'landing' %}" class="icon logo">
                <img class=" img-fluid" src="https://themes.pixelstrap.com/zomo-app/assets/images/svg/food-logo.svg" alt="logo" />
                <span>Zomo</span>
            </a>
        </li>
        <li>
            <a href="{% url 'food-home' %}" class="icon">
                <img class="unactive" src="https://themes.pixelstrap.com/zomo-app/assets/images/svg/food.svg" alt="food" />
                <img class="active" src="https://themes.pixelstrap.com/zomo-app/assets/images/svg/food-fill.svg" alt="food" />
                <span>Food</span>
            </a>
        </li>
        <li>
            <a href="{% url 'grocery-home' %}" class="icon">

                <img class="unactive" src="https://themes.pixelstrap.com/zomo-app/assets/images/svg/grocery.svg" alt="grocery" />
                <img class="active" src="https://themes.pixelstrap.com/zomo-app/assets/images/svg/grocery-fill.svg" alt="grocery" />
                <span>Grocery</span>
            </a>
        </li>

        <li>
            <a href="{% url 'pharmacy-home' %}" class="icon">

                <img class="unactive" src="https://themes.pixelstrap.com/zomo-app/assets/images/svg/pharmacy.svg" alt="pharmacy" />
                <img class="active" src="https://themes.pixelstrap.com/zomo-app/assets/images/svg/pharmacy-fill.svg" alt="pharmacy" />
                <span>Pharmacy</span>
            </a>
        </li>
        <li>
            <a href="{% url 'profile' %}" class="icon">

                <img class="unactive" src="https://themes.pixelstrap.com/zomo-app/assets/images/svg/user.svg" alt="user" />
                <img class="active" src="https://themes.pixelstrap.com/zomo-app/assets/images/svg/user-fill.svg" alt="user" />
                <span>Profile</span>
            </a>
        </li>
            </a>
        </li>
    </ul>
</div>
  <!-- bottom navbar end -->

  <!-- bootstrap js -->
  <script src="../assets/js/bootstrap.bundle.min.js"></script>

  <!-- script js -->
  <script src="../assets/js/script.js"></script>
</body>


</html>